
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div my-border-color="red">

        <h1>Hello world </h1>
        <current-time/>        
    </div>
</body>
</html>
